<component name="ArtifactManager">
  <artifact type="war" name="springcloud-client:war">
    <output-path>$PROJECT_DIR$/springcloud-client/target</output-path>
    <root id="archive" name="springcloud-client.war">
      <element id="artifact" artifact-name="springcloud-client:war exploded" />
    </root>
  </artifact>
</component>